.wrapper-1 {
  box-shadow: 0 -12px 24px rgba(0, 0, 0, 0.8);
  margin-top: -1px;
}
.wrapper-2 {
  box-shadow: 0 -12px 30px rgba(0, 0, 0, 0.8);
}

.wrapper-3 {
  box-shadow: 0 -12px 30px rgba(0, 0, 0, 0.8);
}
