.carousel-container {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 6vw;
  flex-direction: column;
}

.carousel-header {
  display: flex;
  height: 5vh;
  width: 100%;
  justify-content: end;
  padding-right: 3vw;
  padding-top: 4vh;
  z-index: 15;
}

.carousel-content {
  height: 90vh;
  width: 100vw;
  position: relative;
  display: flex;
}

.arrow-container {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  height: 100%;
  width: 10vw;
  position: relative;
}

.carousel-button {
  cursor: pointer;
  box-sizing: border-box;
  border: solid transparent 1px;
  opacity: 0.5;
  transition: opacity 0.4s ease;
}

.carousel-button:hover {
  opacity: 1;
}

.button-container {
  position: relative;
  display: flex;
}

.element-for-hover {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  transition: opacity 0.4s ease;
}

.element-for-hover:hover {
  opacity: 0;
}

.image-container {
  position: relative;
  height: 100%;
  width: 80vw;
}

.image-container img {
  object-fit: contain;
}

.carousel-footer {
  height: 5vh;
  width: 100%;
  display: flex;
}

.test {
  border: solid 1px white;
}
