.carousel-container {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 6vw;
  flex-direction: column;
}

.carousel-header {
  display: flex;
  height: 5vh;
  width: 100%;
  justify-content: end;
  padding-right: 3vw;
  padding-top: 4vh;
  z-index: 15;
}

.carousel-content {
  height: 90vh;
  width: 100vw;
  position: relative;
  display: flex;
}

.arrow-container {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  height: 100%;
  width: 10vw;
}

.image-container {
  position: relative;
  height: 100%;
  width: 80vw;
}

.image-container img {
  object-fit: contain;
}

.carousel-button {
  cursor: pointer;
  transition: border 0.3s ease, box-shadow 0.3s ease;
  border-radius: 100%;
  box-sizing: border-box;
  border: solid transparent 1px;
}

.carousel-button:hover {
  border: solid rgb(79, 79, 79) 1px;
}

.carousel-footer {
  height: 5vh;
  width: 100%;
  display: flex;
}

.test {
  border: solid 1px white;
}
