.works-container {
  width: 100vw;
  background-color: black;
  display: flex;
  align-items: center;
  font-size: 5vw;
  color: white;
  flex-direction: column;
  font-weight: 500;
  background-color: rgb(9, 9, 9);
}

.works-header {
  width: 100%;
  display: flex;
  text-transform: uppercase;
  font-size: 4vw;
  margin-top: 3vh;
  padding: 0px 7vw 0px 5vw;
  gap: 4vw;
  margin-bottom: 10vh;
}

.bar {
  flex-grow: 1;
  align-self: center;
  border-top: solid white 3px;
}

.workitems-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5vh;
}

.test {
  border: solid white 1px;
}
