.workpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.workpage-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: end;
  color: white;
  padding-right: 5vw;
  padding-top: 3vh;
  text-transform: uppercase;
  font-size: 1.5vw;
  font-weight: 500;
  position: fixed;
  top: 0;
  /* background: ; */
}

.test {
  border: solid 1px white;
}

.workpage-content {
  display: flex;
}
.workpage-navbar {
  height: 100vh;
  width: 5vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vh 0px 3vh 0px;
  gap: 2vh;
}

.navbar-bar {
  border-left: solid 2px white;
}

.navbar-bar.small {
  height: 10vh;
}

.navbar-text {
  color: white;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  font-weight: 500;
  width: 5vw;
}

.navbar-bar.large {
  height: 100%;
}

.workpage-images {
  width: 100vw;
  /* height: 300vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15vh 0px 15vh 0px;
  gap: 20vh;
}

.workpage-image-container {
  display: flex;
  height: 70vh;
  width: 70vw;
}
.workpage-image-4overflow {
  width: 50vw;
  height: 70vh;
  overflow: hidden;
}
.workpage-image {
  cursor: pointer;
  position: relative;
  width: 50vw;
  height: 70vh;
}

.workpage-description {
  display: flex;
  width: 20vw;
  height: 70vh;
  justify-content: end;
  align-items: end;
}

.description-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  text-transform: uppercase;
  font-size: 1vw;
  font-weight: 400;
}

.workpage-image img {
  object-fit: cover;
}
