.works-container {
  /* height: 100vh; */
  width: 100vw;
  background-color: black;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  font-size: 5vw;
  color: white;
  flex-direction: column;
  font-weight: 500;
}

.works-header {
  width: 100%;
  display: flex;
  text-transform: uppercase;
  font-size: 2vw;
  margin-top: 5vh;
  padding: 0px 7vw 0px 5vw;
  gap: 4vw;
  margin-bottom: 15vh;
}

.bar {
  flex-grow: 1;
  align-self: center;
  border-top: solid white 1px;
}

.workitems-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15vh;
}
