@media (max-width: 718px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 0px;
    padding: 15vh 2vw;
  }
}

@media (min-width: 719px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    gap: 10px;
    padding: 15vh 5vw;
  }
}
