.grid-item {
  text-align: center;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-item-image {
  height: 100%;
  width: 100%;
  cursor: pointer;
  object-fit: cover;
  border-radius: 10px;
}
