.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 5vh 10vw 0px 10vw;
}

.image-info {
  width: auto;
  height: 70vh;
}

.info-text-container {
  color: white;
}
