.section {
  height: 100vh;
}

.black_screen {
  background-color: black;
  /* position: absolute; */
  height: 100vh;
  width: 100vw;
  z-index: 150;
}

.page {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  /* position: relative; */
  gap: 0px;
  /* opacity: 0; */
}
