.about-section {
  height: 150vh;
  width: 100vw;
  color: white;
  /* top: -40px; */
  /* transform: translateY(-200px); */
  /* background-color: beige; */
  /* z-index: 25; */
  background-color: black;
}

/* .about-image-wrapper {
  
} */

.about-image-wrapper {
  position: relative;
  height: 150vh;
  width: 100vw;
  background-color: black;
}

.about-image-wrapper img {
  object-fit: cover;
  object-position: top;
  z-index: 5;
  opacity: 0.5;
}
.about-header {
  display: flex;
  height: 15vh;
  width: 100vw;
  z-index: 10;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  position: sticky;
  top: 400px;
  /* margin-left: 2vw; */
}

.about-bar {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  border-top: solid white 3px;
  margin-left: 2vw;
}

.about-title {
  text-transform: uppercase;
  padding-right: 10vw;
  font-weight: 500;
  font-size: 4vw;
}

.about-wrapper {
  display: flex;
  align-items: center;
  justify-content: end;
}

.about-content {
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  width: 50vw;
  padding: 30px 10vw 0px 0px;
  z-index: 15;
}

.about-content h1 {
  text-transform: uppercase;
  font-size: 3vw;
  font-weight: 500;
}

.about-content p {
  text-transform: uppercase;
  font-size: 1.5vw;
  font-weight: 300;
  text-align: justify;
  padding: 2vh 0px 0px 2vw;
}

.test {
  border: solid white 1px;
}
